Repository kakao-tech-campus-2nd-step3/Team26_Android, pull requests merged in 2024-11, with the labels that each got.

#66 [Feat] Member, Reservation, Event DTO 구현
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CuratorEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/Member.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationResponse.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/CategoryFragment.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/adapter/EventAdapter.kt
Labels: ✨Feature

#69 [Feat] 지도에 내 위치 표시
  feat-event/build.gradle.kts
  feat-event/src/main/AndroidManifest.xml
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/MapFragment.kt
  feat-event/src/main/res/drawable/my_location.png
Labels: ✨Feature, 🔗API, 🎨Design

#71 [Feat] 검색 결과 뷰
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/SearchResultFragment.kt
  feat-event/src/main/res/layout/fragment_search_result.xml
  feat-event/src/main/res/layout/search_item.xml
Labels: ✨Feature, 🎨Design

#72 [Feat] DTO 데이터 클래스 구현, 이미지 업로드/삭제 기능 추가
  core/src/main/java/org/ktc2/cokaen/wouldyouin/core/ImageViewBindingAdapter.kt
  core/src/main/java/org/ktc2/cokaen/wouldyouin/core/temp
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ApiResponseBodyVoid.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/Curation.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationCreateRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationSliceResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CuratorEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CuratorRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventSliceResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ImageRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ImageResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/KakaoPayResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/LikeResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/LocalLoginRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/LocalSignupRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/Location.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReviewRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReviewResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SliceInfo.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SocialAdditionalInfo.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SocialTokenResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/TokenResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/temp2
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CreateCurationViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationDetailViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationRepository.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/HomeCurationViewModel.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/adapter/EventAdapter.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Repository/CurationAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Repository/EventAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Repository/ReservationAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Repository/ServerAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Repository/ServerCommonAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/Service/ServerAPIRetrofitService.kt
Labels: ✨Feature, 🔗API, 🐛Fix

#77 [Feat] 큐레이션 연결
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/ktc2/cokaen/wouldyouin/MainActivity.kt
  core/src/main/java/org/ktc2/cokaen/wouldyouin/core/ImageViewBindingAdapter.kt
  core/src/main/res/xml/file_paths.xml
  data/build.gradle.kts
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/converters/Converters.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/dao/CurationDao.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/database/AppDatabase.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/di/DataModule.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/entities/CurationEntity.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationCreateRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationSliceResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CuratorRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ImageRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ImageResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SliceInfo.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/repository/CurationLocalRepository.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/repository/temp3
  feat-curation/build.gradle.kts
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CreateBlockImagesAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CreateCurationBlockAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CurationCardAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/DetailCurationBlockAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/CreateCurationActivity.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/HomeCurationFragment.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CreateCurationViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationDetailViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationRepository.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/HomeCurationViewModel.kt
  feat-curation/src/main/res/layout/activity_create_curation.xml
  feat-curation/src/main/res/layout/block_image_item.xml
  feat-curation/src/main/res/layout/category_item.xml
  feat-curation/src/main/res/layout/curation_item.xml
  feat-curation/src/main/res/layout/item_curation_block.xml
  feat-curation/src/main/res/layout/item_detail_curation_block.xml
  feat-onboarding/src/main/java/com/example/feat_onboarding/view/LocationPermissionFragment.kt
  feat-onboarding/src/main/java/com/example/feat_onboarding/viewModel/SelectAreaFragmentViewModel.kt
  gradle/libs.versions.toml
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/CurationAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/ServerCommonAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/CurationAPIRetrofitService.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/ServerAPIRetrofitService.kt
Labels: ✨Feature, 🔗API, 🎨Design

#79 [Feat]큐레이션 작성 화면 수정, 예약 화면 어댑터 추가
  app/src/main/AndroidManifest.xml
  app/src/main/res/values/themes.xml
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationCreateRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CurationRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/CuratorEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberEditRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SearchEventData.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SocialAdditionalInfo.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/adapter/BookingViewPagerAdapter.kt
  feat-booking/src/main/res/layout/booking_card_item.xml
  feat-booking/src/main/res/layout/fragment_booking.xml
  feat-curation/build.gradle.kts
  feat-curation/src/main/AndroidManifest.xml
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CreateBlockImagesAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CreateCurationBlockAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CurationCardAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CurationCreateBlockAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/EventSearchAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/SelectedEventsAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/repository/CurationRepository.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/CreateCurationActivity.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/CurationDetailActivity.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/CurationSearchEventResultFragment.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/view/HomeCurationFragment.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CreateCurationViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationDetailViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationSearchViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/HomeCurationViewModel.kt
  feat-curation/src/main/res/drawable/magnifyingglass.xml
  feat-curation/src/main/res/drawable/rounded_background.xml
  feat-curation/src/main/res/layout/activity_create_curation.xml
  feat-curation/src/main/res/layout/block_image_item.xml
  feat-curation/src/main/res/layout/category_item.xml
  feat-curation/src/main/res/layout/curation_item.xml
  feat-curation/src/main/res/layout/fragment_curation_search_event_result.xml
  feat-curation/src/main/res/layout/item_curation_block.xml
  feat-curation/src/main/res/layout/search_item.xml
  feat-curation/src/main/res/layout/selected_event_item.xml
  feat-curation/src/main/res/navigation/curation_nav_graph.xml
  feat-curation/src/main/res/navigation/curation_search_nav_graph.xml
  feat-curation/src/main/res/values/strings.xml
  feat-curation/src/main/res/values/themes.xml
  feat-likes/src/main/java/com/example/feat_likes/view/LikesFragment.kt
  gradle/libs.versions.toml
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/CurationAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/CurationAPIRetrofitService.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/ServerAPIRetrofitService.kt
Labels: help wanted, ✨Feature, 🔗API, 🎨Design

#82 [Feat] 예매 페이지 연결
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationRequest.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/adapter/BookingViewPagerAdapter.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/view/BookingActivity.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/view/BookingDetailsActivity.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/viewModel/BookingEventViewModel.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/viewModel/BookingFragmentViewModel.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/viewModel/ReservationViewModel.kt
  feat-booking/src/main/res/layout/activity_booking.xml
  feat-booking/src/main/res/layout/activity_booking_details.xml
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/CurationCardAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/adapter/EventSearchAdapter.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CreateCurationViewModel.kt
  feat-curation/src/main/java/org/ktc2/cokaen/wouldyouin/feat_curation/viewModel/CurationDetailViewModel.kt
  feat-curation/src/main/res/layout/search_item.xml
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/EventDetailActivity.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/view/HostProfileActivity.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/viewModel/ProfileViewModel.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/ReservationAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/EventAPIRetrofitService.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/ReservationAPIRetrofitService.kt
Labels: ✨Feature, 🔗API, 🎨Design

#84 [Feat] 로그인 화면 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/ktc2/cokaen/wouldyouin/LoginActivity.kt
  app/src/main/res/layout/activity_login.xml
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/MemberRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/SocialTokenResponse.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/view/CuratorProfileActivity.kt
  feat-profile/src/main/res/layout/activity_profile.xml
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/AuthRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/AuthAPIRetrofitService.kt
Labels: ✨Feature, 🔗API, 🎨Design

#89 [Feat] 검색 및 행사 관련 오류 해결
  app/src/main/res/layout/liked_organizer_item.xml
  core/src/main/java/org/ktc2/cokaen/wouldyouin/core/DateTimeUtils.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/AdvertisementRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/AdvertisementResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventRequest.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/EventResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReservationResponse.kt
  data/src/main/java/org/ktc2/cokaen/wouldyouin/data/model/ReviewResponse.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/view/BookingActivity.kt
  feat-booking/src/main/java/org/ktc2/cokaen/wouldyouin/feat_booking/viewModel/BookingEventViewModel.kt
  feat-booking/src/main/res/layout/activity_booking.xml
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/CategoryFragment.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/EventDetailActivity.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/SearchFragment.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/SearchResultFragment.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/adapter/AdAdapter.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/adapter/EventAdapter.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/viewmodel/AdViewModel.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/viewmodel/EventViewModel.kt
  feat-event/src/main/java/org/ktc2/cokaen/wouldyouin/feat_event/view/viewmodel/SearchViewModel.kt
  feat-event/src/main/res/layout/activity_event_detail.xml
  feat-event/src/main/res/layout/ad_item.xml
  feat-event/src/main/res/layout/category_item.xml
  feat-event/src/main/res/navigation/search_nav_graph.xml
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/adapter/CurationAdapter.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/adapter/HashtagAdapter.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/adapter/PostAdapter.kt
  feat-profile/src/main/java/org/ktc2/cokaen/wouldyouin/feat_profile/view/HostProfileActivity.kt
  feat-profile/src/main/res/layout/activity_curator_profile.xml
  feat-profile/src/main/res/layout/activity_profile.xml
  feat-profile/src/main/res/layout/curator_hashtag_item.xml
  feat-profile/src/main/res/layout/curator_post_item.xml
  feat-profile/src/main/res/layout/host_hashtag_item.xml
  feat-profile/src/main/res/layout/host_post_item.xml
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/NetworkModule.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/AdAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/repository/EventAPIRetrofitRepository.kt
  network/src/main/java/org/ktc2/cokaen/wouldyouin/network/service/EventAPIRetrofitService.kt
Labels: bug, ✨Feature, 🎨Design, 🐛Fix
